.BuyItNow {
  width: calc(100% - 90px);
  font-family: "MyFont4";
  transition: all 0.3s ease;
  height: 55px;
  font-size: 14px;
  background-color: black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
  border: none;
  transition: 0.5s;
}
.BuyItNow:hover {
  transition: 0.5s;
  cursor: pointer;
  background: #2dbbf0;
}
