

.maodal_person_areea_ligin_in {
    margin-left: 13%;
    background-color: black;
    color: white;
    width: 80%;
    max-height: 300px;
    min-height: 50px;
    height: 5%;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: 5%;
}
.maodal_person_areea_ligin_in:hover{
    background-color: #6e95dc;
    cursor: pointer;
    transition: 500ms;
}
.maodal_person_areea_register_naw {
    display: flex;
    margin-left: 13%;
    width: 80%;
    max-height: 300px;
    min-height: 50px;
    height: 5%;
    border: 1px solid rgba(242, 242, 242,1);
    background: rgba(242, 242, 242, 0.5);
    padding-left: 5%;
}

.maodal_person_areea_register_naw button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50%;
    color: rgb(168, 163, 163);
}
.maodal_person_areea_register_naw button:hover{
    color: #2c6ae5;
    transition: 500ms;
}

@media (max-width: 768px) {
    .personal_area {
        display: none;
    }
}