.BanerMain_img {
  background-image: url(../../../img/baner/banner2.jpeg);
  background-size: 100%;
  height: 800px;
  background-repeat: no-repeat;
  margin-bottom: -150px;
}
.BanerMain_block {
  margin-top: 15%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 40%;
  height: 230px;
}

.BanerMain_h3 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.BanerMain_text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.BanerMain_button {
  margin-left: 35%;
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  background-color: black;
  transition: 500ms;
}
.BanerMain_button:hover {
  transition: 500ms;
  cursor: pointer;
  background-color: rgb(125, 192, 236);
}
