header {
  top: 0;
  padding: 25px 0 0 0;
  margin: 0;
  background-color: white;
  width: 100%;
  z-index: 1000;
  position: sticky;
}

.logo {
  height: 40px;
  width: 140px;
  padding-left: 15px;
}

.navigator {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0 0 15px;
}

.search img,
.personal_area img,
.likes img,
.personal_area,
.cart img {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
}
.personal_area{
  background: none;
  border: none;
}
.personal_area:hover{
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
  }

  .test {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .navigator {
    margin-top: -5px;
  }
}

