.PodoctPageCounter {
  position: relative;
  border: none;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  color: #111;
  font-weight: 500;
  border-radius: 0;
  width: 85px;
  border: 2px solid #ddd;
  margin-right: 15px;
  margin-bottom: 30px;
}
.ProducttDecrement,
.ProductIncriment {
  border: none;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.PodoctPageCounterInput {
  margin-right: 15px;
  width: 35px;
  border: none;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  color: #111;
  font-weight: 500;
  border-right: 1px solid #ddd;
  border-radius: 0;
}
.ProductIncriment {
  top: 0px;
  position: absolute;
  right: 0px;
}
.BsFileArrowDownFill,
.BsFileArrowUpFill {
  width: 25px;
  height: 25px;
}
.ProducttDecrement {
  position: absolute;
  bottom: -5px;
  right: 0px;
}
.BsFileArrowDownFill:hover,
.BsFileArrowUpFill:hover {
  color: #2dbbf0;
  cursor: pointer;
  transition: all 0.5ms;
}
